<h2>Campaign Creation</h2>

<div class="alert alert-danger" *ngIf="submitError">
  Campaign creation failed!
</div>

<form (ngSubmit)="onSubmit()" #campaignForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
    required minlength="3" maxlength="32"
    [(ngModel)]="campaign.name" name="name" #name="ngModel">
  </div>
  <campaign-creation-errors
    [control]="name"
    [name]="'Name'"
    [minlength]="3"
    [maxlength]="32">
  </campaign-creation-errors>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" rows="4" id="description"
    required minlength="1" maxlength="512"
    [(ngModel)]="campaign.description" name="description" #description="ngModel"></textarea>
  </div>
  <campaign-creation-errors
    [control]="description"
    [name]="'Description'"
    [minlength]="1"
    [maxlength]="512">
  </campaign-creation-errors>

  <div class="form-group">
    <label for="private">Private Campaign</label>
    <div class="radio">
      <label class="radio-inline">
        <input type="radio" class="private" [value]="true"
        required
        [(ngModel)]="campaign.private" name="private">
        Yes
      </label>
    </div>
    <div class="radio">
      <label class="radio-inline">
        <input type="radio" class="private" [value]="false"
        required
        [(ngModel)]="campaign.private" name="private">
        No
      </label>
    </div>
  </div>

  <div *ngIf="campaign.private">
    <div class="form-group">
      <label for="name">Player password</label>
      <input type="text" class="form-control" id="playerPassword"
      required
      [(ngModel)]="campaign.playerPassword" name="playerPassword" #playerPassword="ngModel">
    </div>
    <campaign-creation-errors
      [control]="playerPassword"
      [name]="'Player password'">
    </campaign-creation-errors>

    <div class="form-group">
      <label for="name">GM Password</label>
      <input type="text" class="form-control" id="gmPassword"
      required
      [(ngModel)]="campaign.gmPassword" name="gmPassword" #gmPassword="ngModel">
    </div>
    <campaign-creation-errors
      [control]="gmPassword"
      [name]="'GM password'">
    </campaign-creation-errors>
  </div>

  <div class="form-group">
    <label for="provisions">Initial Provisions</label>
    <input type="number" class="form-control" id="provisions"
    required [min]="0"
    [(ngModel)]="campaign.initialProvisions" name="provisions" #provisions="ngModel">
  </div>
  <campaign-creation-errors
    [control]="provisions"
    [name]="'Initial provisions'"
    [min]="0">
  </campaign-creation-errors>

  <div class="form-group">
    <label for="gold">Initial Gold</label>
    <input type="number" class="form-control" id="gold"
    required [min]="0"
    [(ngModel)]="campaign.initialGold" name="gold" #gold="ngModel">
  </div>
  <campaign-creation-errors
    [control]="gold"
    [name]="'Initial gold'"
    [min]="0">
  </campaign-creation-errors>

  <div class="form-group">
    <label for="item">Initial Items</label>
    <input type="text" class="form-control" id="item"
    [(ngModel)]="item" name="item">
    <button type="button" class="btn btn-success" (click)="addItem();">Add</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let listItem of campaign.initialItems">
      {{listItem}}
      <span class="delete-item-span"><button type="button" class="btn btn-danger btn-xs" (click)="deleteItem(listItem);">&times;</button></span>
    </li>
  </ul>

  <button type="submit" class="btn btn-success" [disabled]="!campaignForm.form.valid">Create</button>
</form>
