<div *ngIf="!battleMode && role == 'GM'">
  <h3>Battle preparations</h3>
  <form class="form-inline">
    <label for="monsterName">Name: </label>
    <input type="text" name="monsterName" value="" class="form-control" [(ngModel)]="monsterName">
    <label for="monsterCombatSkill">Combat Skill: </label>
    <input type="number" name="monsterCombatSkill" value="" class="form-control" [(ngModel)]="monsterCombatSkill">
    <label for="monsterStamina">Stamina: </label>
    <input type="number" name="monsterStamina" value="" class="form-control" [(ngModel)]="monsterStamina">
    <button type="button" [disabled]="hasEnded" class="btn btn-default" (click)="addMonster()">Add Monster</button>
  </form>
  <br/>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let monster of addedMonsters">
      <div class="row">
        <div class="col-md-3">
          <strong>{{monster.name}}</strong>
        </div>
        <div class="col-md-3">
          Combat skill: {{monster.combatSkill}}
        </div>
        <div class="col-md-3">
          Stamina: {{monster.stamina}}/{{monster.maxStamina}}
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <span class="delete-item-span"><button type="button" class="btn btn-danger btn-xs" (click)="deleteAddedMonster(monster);">&times;</button></span>
        </div>
      </div>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <button type="button" [disabled]="hasEnded || addedMonsters.length == 0" class="btn btn-default" (click)="toggleBattleMode()">Enter Battle Mode with these monsters</button>
    </div>
  </div>
</div>
<div *ngIf="battleMode">
  <h3>Battle</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let monster of monsters; let i=index">
      <div class="row">
        <div class="col-md-3">
          <strong>{{monster.name}}</strong>
        </div>
        <div class="col-md-3">
          Combat skill: {{monster.combatSkill}}
          <div *ngIf="role=='GM'" class="set-input">
            <form class="form-inline">
              <div class="form-group">
                <input type="number" class="form-control" name="combatSkill-i" [(ngModel)]="combatSkillSetters[i]">
                <button type="button" [disabled]="hasEnded" class="btn btn-sm btn-default" (click)="set('combat skill', i)">Set</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          Stamina: {{monster.stamina}}/{{monster.maxStamina}}
          <div *ngIf="role=='GM'" class="set-input">
            <form class="form-inline">
              <div class="form-group">
                <input type="number" class="form-control" name="stamina-i" [(ngModel)]="staminaSetters[i]">
                <button type="button" [disabled]="hasEnded" class="btn btn-sm btn-default" (click)="set('stamina', i)">Set</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2">
          <button *ngIf="role == 'Player'" type="button" [disabled]="hasEnded" class="btn btn-default" (click)="battleRound(i)">Hit</button>
          <span *ngIf="role == 'GM'" class="delete-item-span-battle"><button type="button" class="btn btn-danger btn-xs" (click)="deleteMonster(i);">&times;</button></span>
        </div>
      </div>
    </li>
  </ul>
  <div class="row" *ngIf="role == 'GM'">
    <div class="col-md-12">
      <button type="button" [disabled]="hasEnded" class="btn btn-default" (click)="toggleBattleMode()">Exit Battle Mode</button>
    </div>
  </div>
</div>
