.chat-window {
  height: 600px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  font-size: small;
}

.stretch-width {
  width: calc(100% - 64px);
}

.sender-none {
  font-style: italic;
  color: blue;
}

.sender-roll-success {
  font-style: italic;
  color: green;
}

.sender-roll-failure {
  font-style: italic;
  color: red;
}
