<div class="col-md-12">
  <div *ngIf="!connected">
    Connecting...
  </div>
  <div *ngIf="connected">
    <div class="row">
      <div class="col-md-4">
        <chat class="chat"
          [title]="'Out-of-character Chat'"
          [type]="'ooc'"
          [log]="campaign.outOfCharacterLog"
          [role]="role"
          [hasEnded]="campaign.hasEnded">
        </chat>
      </div>
      <div class="col-md-4">
        <chat class="chat"
          [title]="'In-character Chat'"
          [type]="'ic'"
          [log]="campaign.inCharacterLog"
          [role]="role"
          [hasEnded]="campaign.hasEnded">
        </chat>
      </div>
      <div class="col-md-4">
        <character-info
          [character]="character"
          [role]="role"
          [battleMode]="campaign.battleMode"
          [hasEnded]="campaign.hasEnded">
        </character-info>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <battle
          [battleMode]="campaign.battleMode"
          [id]="id"
          [hasEnded]="campaign.hasEnded"
          [role]="role"
          [monsters]="monsters"
          [character]="character">
        </battle>
      </div>
      <div class="col-md-4">
        <div *ngIf="role == 'GM'">
          <button type="button" class="btn btn-danger" *ngIf="!campaign.hasEnded" (click)="toggleEnded()">End Campaign</button>
          <button type="button" class="btn btn-success" *ngIf="campaign.hasEnded" (click)="toggleEnded()">Resume Campaign</button>
        </div>
      </div>
    </div>
  </div>
</div>
