<div class="col-md-12">
  <div *ngIf="!connected">
    Connecting...
  </div>
  <div *ngIf="connected">
    <div class="row">
      <div class="col-md-4">
        <chat class="chat"
          [title]="'Out of character chat'"
          [type]="'ooc'"
          [log]="campaign.outOfCharacterLog"
          [role]="role">
        </chat>
      </div>
      <div class="col-md-4">
        <chat class="chat"
          [title]="'In character chat'"
          [type]="'ic'"
          [log]="campaign.inCharacterLog"
          [role]="role">
        </chat>
      </div>
      <div class="col-md-4">
        <character-info
          [character]="character"
          [role]="role"
          [battleMode]="campaign.battleMode">
        </character-info>
      </div>
    </div>

    <div *ngIf="role == 'GM'">
      <div class="row">
        <div class="col-md-8">
          <battle
            [battleMode]="campaign.battleMode"
            [id]="id">
          </battle>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-danger" *ngIf="!campaign.hasEnded" (click)="toggleEnded()">End Campaign</button>
          <button type="button" class="btn btn-danger" *ngIf="campaign.hasEnded" (click)="toggleEnded()">Resume Campaign</button>
        </div>
      </div>
    </div>
  </div>
</div>
