<div class="container wider-container">
  <div class="row">
    <div class="col-md-8">
      <h1>
        <a routerLink="">Fantastic Feats Online</a>
      </h1>
    </div>
    <div class="col-md-4">
      <button type="button" class="about btn btn-md btn-info about-button" data-toggle="modal" data-target="#about">About</button>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="about" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">About Fantastic Feats Online</h3>
      </div>
      <div class="modal-body">
        <h4>What is Fantastic Feats online?</h4>
        <p>
          Fantastic Feats online is a platform to host and play one-on-one adventure roleplaying games in the vein of
          <a href="https://en.wikipedia.org/wiki/Fighting_Fantasy">Fighting Fantasy</a> gamebooks. A player or a group of players
          assumes the role of an adventurer while the Game Master (GM) takes control of the adventure environment. The GM prepares
          an adventure and describes the starting point for the situation. The game proceeds as the player(s) describe the actions of the
          adventurer and the GM reacts to these actions.
        </p>
        <h4>Features</h4>
          <ul>
            <li>Support for both real-time and play-by-post gaming at the same time.</li>
            <li>Public and password protected games.</li>
            <li>Integrated game system, described below.</li>
            <li>Separate in-character and out-of-character chats.</li>
            <li>An easy-to-use battle system.</li>
            <li>Full GM controls.</li>
          </ul>
        <h4>Game System</h4>
        <p>
          The player has four attributes tied to different game mechanics:
        </p>
        <ul>
          <li><strong>Swordsmanship</strong> is used in battles to hit enemies and avoid their hits.</li>
          <li><strong>Skill</strong> is used in all skill based adventuring situations except to fight enemies. Sneaking past a monster would use skill, for example.</li>
          <li><strong>Luck</strong> is used when the character's skill isn't a factor in a situation, for example the effects of poison depend on luck.</li>
          <li><strong>Stamina</strong> is a measure of the character's health and will to continue. The character dies at 0 stamina. Battles and traps take a toll on stamina.</li>
        </ul>
        <p>
          There are three separate dice mechanics in the game system:
        </p>
        <ul>
          <li><strong>Battle rolls</strong> are used when the character tries to hit an enemy and when dodging enemy attacks. This is an opposed 1d20+Swordsmanship vs 1d20+Combat Skill roll.
          If the character rolls higher, they hit or dodge the enemy attack.</li>
          <li><strong>Skill rolls</strong> are used to determine whether a skill based action succeeds. A skill roll is made with 1d20+Skill where the target number depends on the action's
          difficulty. Easy rolls have a target of 15, normal rolls 20, hard rolls 25 and extreme rolls 30.</li>
          <li><strong>Luck rolls</strong> are used to determine whether a luck based situation favors the character or not. A luck roll is made with 1d20+Luck where the target is always 20.
          However, the character's luck decreases by 1 point every time they have to test their luck regardless of the roll result.</li>
        </ul>
        <p>
          The character also has gold, provisions and items. Gold can be used with non-player characters or as a score. Provisions can be eaten outside of battle to restore 4 stamina.
          Items can be used by the player to solve problems and other adventuring situations. For example losing a weapon probably drops the character's swordsmanship by 4 points, while a rope
          can be used to climb walls.
        </p>
        <h4>Advice for Game Masters</h4>
        <p>
          The game platform and system don't dictate how the GM should prepare adventures. The node map method explained here is just one possiblity, but works well in this slower gaming format.
        </p>
        <p>
          First decide a location for the adventure and a goal for the character. This can be retrieving a treasure from the depths of a dungeon, assassinating the princess in a
          witching tower or anything colorful. Make a quick map sketch of the location, but don't stress scale or details. Then identify interesting rooms, sub-locations and places
          on the sketch. These are your nodes. Connect the nodes with lines that represent corridors, stairs and other passages.
        </p>
        <p>
          Each node on your map represents an encounter. Encounters can be monsters, traps, special devices or structures, non-player characters or other tricks. Number the nodes and make a
          node key that descibes in a sentence or two what the encounter consists of.
        </p>
        <p>
          The procedure for actual play is:
        </p>
        <ol>
          <li>Describe the situation as the player enters a node.</li>
          <li>List the exits the character can take to move forward. These are your node lines.</li>
          <li>Ask what the player does and react.</li>
        </ol>
        <p>
          Some encounters demand the character's attention immediately, denying access to most exits from a node. When the character can take an exit, the transition is immediate and
          you should jump straight to describing the next node's situation.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
