<header>
  <button type="button" class="create-campaign btn btn-md btn-primary">Start a new campaign</button>
  <button type="button" class="about btn btn-md btn-info">About</button>
</header>

<section>
  <div class="campaign-list">
    <div class="public-campaigns">
      <h2>Public Campaigns</h2>
      <ng-container *ngFor="let campaign of campaigns">
        <div class="campaign" *ngIf="campaign.private == false && campaign.hasEnded == false">
          <span><a  routerLink="/game/{{campaign._id}}">{{campaign.name}}</a><small>(started {{campaign.creationTime}}).</small> Last play by: {{campaign.lastPlayBy}}</span>
          <br/>
          <span>{{campaign.description}}</span>
        </div>
      </ng-container>
    </div>
    <div class="private-campaigns">
      <h2>Private Campaigns</h2>
      <ng-container *ngFor="let campaign of campaigns">
        <div class="campaign" *ngIf="campaign.private == true && campaign.hasEnded == false">
          <span><a  routerLink="/game/{{campaign._id}}">{{campaign.name}}</a><small>(started {{campaign.creationTime}}).</small> Last play by: {{campaign.lastPlayBy}}</span>
          <br/>
          <span>{{campaign.description}}</span>
        </div>
      </ng-container>
    </div>
    <div class="finished-campaigns">
      <h2>Finished Campaigns</h2>
      <ng-container *ngFor="let campaign of campaigns">
        <div class="campaign" *ngIf="campaign.hasEnded == true">
          <span><a  routerLink="/game/{{campaign._id}}">{{campaign.name}}</a><small>(started {{campaign.creationTime}}).</small></span>
          <br/>
          <span>{{campaign.description}}</span>
        </div>
      </ng-container>
    </div>
  </div>
</section>
