<section>
  <div class="row">
    <h2>{{type}} Campaigns</h2>
    <ng-container *ngFor="let campaign of campaigns">
      <div class="campaign" *ngIf="(campaign.hasEnded == endState && endState == true) || (campaign.private == privateState && campaign.hasEnded == endState)">
        <span><a  routerLink="/game/{{campaign._id}}">{{campaign.name}}</a></span>
        <span>Started: {{campaign.creationTime | date}}</span>
        <span *ngIf="campaign.character">Last play by: {{campaign.lastPlayBy}} on {{campaign.lastPlayTime | date}}</span>
        <span *ngIf="!campaign.character">Waiting for character</span>
        <span>{{campaign.description}}</span>
      </div>
    </ng-container>
  </div>
</section>
