<header>
  <button type="button" class="create-campaign btn btn-md btn-primary" (click)="gotoCreateCampaign()">Start a new campaign</button>
  <button type="button" class="about btn btn-md btn-info" data-toggle="modal" data-target="#about">About</button>
</header>

<div id="about" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About Fighting Fantasy Online</h4>
      </div>
      <div class="modal-body">
        <p>Infoa</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="campaign-list">
    <campaign-subset
      [campaigns]="campaigns"
      [type]="'Public'"
      [privateState]="false"
      [endState]="false">
    </campaign-subset>

    <campaign-subset
      [campaigns]="campaigns"
      [type]="'Private'"
      [privateState]="true"
      [endState]="false">
    </campaign-subset>

    <campaign-subset
      [campaigns]="campaigns"
      [type]="'Finished'"
      [endState]="true">
    </campaign-subset>
  </div>
</section>
